@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900&display=swap");

:root {
  --primaryColor: hsl(14, 90%, 53%);
  --primaryColorLight: hsl(14, 96%, 91%);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 42%, 87%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 10%);
  --greText: hsl(0, 0%, 51%);
  --inputColor: hsl(330, 12%, 97%);
  --cardColor: hsl(300, 3%, 94%);

  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.6rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}

.card {
  position: relative;
  border-top: 1px solid var(--formColor);
  border-radius: unset;
  padding-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  cursor: pointer;

  .card-content {
    position: relative;
    margin: 0;
    padding: 0;

    .card-image {
      flex: 0 0 40%;
      max-width: 40%;

      img {
        height: 144px;
        object-fit: cover;
        border-radius: 3px;
        width: 100%;
      }
    }

    .card-info {
      padding: 0;
      flex: 1 1 60%;
      min-width: 60%;
      min-height: 1px;

      h3 {
        font-size: var(--h2FontSize);
        line-height: 1.38rem;
        height: 2.76rem;
        overflow: hidden;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 1rem;
        &:hover {
          text-decoration: underline;
        }
      }

      .text-info {
        padding-left: 1rem;
        padding-right: 1rem;
        position: relative;
        .text-description {
          position: relative;
          font-size: var(--smallFontSize);
          font-weight: 400;
          letter-spacing: -0.2px;
          width: 0;
          min-width: 100%;
          white-space: normal;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          max-height: 5.0625rem;
          .learn-more {
            position: absolute;
            top: 2rem;
            right: 0;
            background-color: transparent;
            background-image: linear-gradient(
              90deg,
              hsla(0, 0%, 100%, 0),
              #fff 10px
            );
            padding-left: 12px;
            color: var(--primaryColorLight);
            text-decoration: underline;

            &::before {
              display: inline-block;
              color: var(--primaryColorLight);
              content: "…";
              cursor: text;
              margin-right: 4px;
            }

            &::after {
              content: " ";
              position: absolute;
              right: 0;
              bottom: 0;
              padding-left: 5rem;
              background: -moz-linear-gradient(
                to right,
                hsla(0, 0%, 100%, 0),
                var(--white) 2.5rem
              );
            }
          }
        }
      }
    }
  }
}

//Media queries
@media screen and (min-width: 768px) {
  .card {
    .card-content {
      &:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

@media screen and (min-width: 995px) {
  .card {
    border: none;
    background: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-right: 2.1rem;
    width: auto;
    padding: 0;

    .card-content {
      border: none;
      flex-direction: column;

      .card-image {
        flex: 0 0 100%;
        max-width: 100%;
        justify-content: flex-start;
        width: 100%;

        img {
          height: 200px;
          object-fit: cover;
        }
      }

      .card-info {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;

        .card-title {
          padding-left: 1.5rem !important;
          padding-right: 1.5rem !important;
          margin-top: 1rem !important;
        }

        .text-info {
          padding-bottom: 2rem !important;
          padding-left: 1.5rem !important;
          padding-right: 1.5rem !important;

          .text-description {
            .description-body {
              font-size: var(--normalFontSize);
            }
            .learn-more {
              font-size: var(--normalFontSize);
              top: 2.28rem;
            }
          }
        }
      }
    }
  }
}
